body{
  background-image: url(../img/pexels-pixabay-53621.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}
#output{
  border: none;
  background-color: gray;
  color: white;
  width: 6%;
  text-align: center;
  margin-top: 1%;
}